<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        特别注意：
            1、默认情况下，创建出来的 bean 对象是 singleton 的；
            2、容器启动时，会直接创建所有 scope 为 singleton 的 bean；
    -->
    <bean id="person" class="org.example.entity.Person">
        <property name="name" value="张三"></property>
        <property name="age" value="18"></property>
    </bean>

</beans>